<div class="empty-space" style="height:0;" aria-hidden="true" {{ block.shopify_attributes }}>&nbsp;</div>

{% schema %}
{
  "name": "t:theme_blocks.empty-space.name",
  "tag": null,
  "presets": [
    {
      "name": "t:theme_blocks.empty-space.name"
    }
  ]
}
{% endschema %}
